<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel = "stylesheet"
    type = "text/css"
    href = "css/index.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Dashboard</title>
</head>
<body>
   
        <nav class="navbar" style="background-color:black; width: 100%;">
            <a class="navbar-brand" href="#" style="font-size :small; color:cornsilk;">Laboratorium Terpadu Keterampilan Preklinik <br>Fakultas Kedokteran Gigi <br> Universitas Brawijaya</a>
        </nav>
    <div class="container-fluid" style="height: 100%; overflow-y: hidden"> 
            <div class="row">
                <div class="col-sm-2" style="background-color: white;">
                   
                    <div class="row" style="background-color: #34495E; height: 100px;">
                        <div class="col-3" style="padding-top: 25px;">
                        <i class="fas fa-user-circle"  style="color: white; font-size: 40px;"></i>
                        </div>
                        <div class="col-9" style="padding-top: 25px;">
                        <h6 style="color: white;">Indah Sari</h6>
                        <p style="color:white; font-size: 12px;">Admin</p>
                        </div>
                    </div>
                    <div class="row" style="background-color:white">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="laboran.html"style="color: black;"><i class="fas fa-check-square" style="color: black;"></i> Umum</a>
                        </div>
                    </div>
                    <div class="row" style="background-color:white; ">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px;">
                        <!-- <h6 style="color: white;">UMUM</h6> -->
                        <a href="rekapbahan.html" style="color: black;"><i class="fas fa-check-square"></i> Rekap</a>
                        </div>
                    </div>
                    <div class="row" style="background-color:white">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px">
                        <!-- <h6 style="color: white;">UMUM</h6> -->
                        <a href="keuangantenaga.html" style="color: black;"><i class="fas fa-check-square"></i> Keuangan</a>
                        </div>
                    </div>
                    <div class="row" style="background-color:white">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px">
                        <!-- <h6 style="color: white;">UMUM</h6> -->
                        <a href="setting.html" style="color: black;"><i class="fas fa-check-square"></i> Setting</a>
                        </div>
                    </div>
                    <div class="row" style="background-color:white">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px">
                        <!-- <h6 style="color: white;">UMUM</h6> -->
                        <a href="login.html" style="color: black;"><i class="fas fa-check-square"></i> Logout</a>
                        </div>
                    </div>
                    
                    <!-- <div class="row" style="background-color:darkblue;"> -->

                    <!-- <ul class="list-group" style="width: inherit;">
                        <li class="list-group-item">UMUM</li>
                        <li class="list-group-item">REKAP</li>
                        <li class="list-group-item">KEUANGAN</li>
                        <li class="list-group-item">SETTING</li>
                    </ul> -->
                    
                        
                    
                    
                </div>
                <div class="col-sm-10" style="background-color: darkgray;">
                    <div class="row-2">
                        <div class="col-sm-12" style="padding-top:10px">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" style="background-color:  darkgray;">
                                    <li class="breadcrumb-item"><a href="#" style="color: black;">Home</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row-10">
                            <div class="jumbotron" style="padding-top:20px">
                            <br>
                            <h4>Setting Page on Progress</h4>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            
                        
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</body>
</html>